*,
::before,
*::after {
	box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
li,
dl,
dd,
blockquote,
hr {
	margin: 0;
}

ul,
ol {
	margin: 0;
	padding: 0;
	list-style: none;
}

a {
	text-decoration: none;
	color: inherit;
}

button,
input {
	font-family: inherit;
}

picture {
	display: block;
}

/* non-standard padding and max-width + 10px */
.container {
	width: 100%;
	margin-inline: auto;
	padding-inline: 25px;
}

@media (min-width: 1400px) {
	.container {
		max-width: 1340px;
	}
}

@media (max-width: 1399.98px) {
	.container {
		max-width: 1150px;
	}
}

@media (max-width: 1199.98px) {
	.container {
		max-width: 970px;
	}
}

@media (max-width: 991.98px) {
	.container {
		max-width: 730px;
	}
}

@media (max-width: 767.98px) {
	.container {
		max-width: 550px;
	}
}

@media (max-width: 575.98px) {
	.container {
		max-width: 490px;
	}
}

@media (max-width: 379.98px) {
	.container {
		max-width: 100%;
	}
}

:root {
	--accent-color: #F96313;
	--accent-gradient: linear-gradient(100deg, #F45601 24%, #FF7429 100%);
}

html {
	scroll-behavior: smooth;
}

body {
	width: 100%;
	min-width: 320px;
	background-color: #2a2b2f;
	background-image: url("~/assets/images/background/pattern.svg");
	background-position: 0 0;
	background-repeat: repeat;
}

body.scroll-lock {
	overflow: hidden;
}

.img {
	display: block;
	width: 100%;
	height: auto;
	object-fit: contain;
}

.background-decor {
	position: relative;
	--adaptive-height: 100%;
}

.background-decor::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: var(--adaptive-height);
	/* right: 0; */
	/* bottom: var(--bottom-offset); */
	z-index: -1;
	background-image:
		/* flower right */
		url("~/assets/images/background/flower-right.svg"),
		/* fish left */
		url("~/assets/images/background/fish.svg"),
		/* wind right */
		url("~/assets/images/background/wind-right.svg"),
		/* flower left */
		url("~/assets/images/background/flower-left.svg"),
		/* fish right */
		url("~/assets/images/background/fish.svg"),
		/* wind left */
		url("~/assets/images/background/wind-left.svg");
	background-size:
		/* flower right */
		202px 4248px,
		/* fish left */
		456px 4248px,
		/* wind right */
		324px 4248px,
		/* flower left */
		202px 4248px,
		/* fish right */
		456px 4248px,
		/* wind left */
		266px 4248px;
	background-position:
		/* flower right */
		right 190px top -1840px,
		/* fish left */
		96px -1035px,
		/* wind right */
		right 170px top -255px,
		/* flower left */
		190px 320px,
		/* fish right */
		right 80px top 1125px,
		/* wind left */
		190px 1875px;
	background-repeat:
		repeat-y;
}

/* ### footer at the bottom ### */
html,
body,
#__nuxt {
	height: 100%;
}

#__nuxt > [data-v-inspector] {
	min-height: 100%;
	display: flex;
	flex-direction: column;
}

main {
	flex: 1 1 auto;
}

@media (max-width: 575.98px) {
	.background-decor::before {
		display: none;
	}
}